[submodule "Vendor/assimp"]
	path = Vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Vendor/luajit"]
	path = Vendor/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "Vendor/sol2"]
	path = Vendor/sol2
	url = https://github.com/ThePhD/sol2.git
